/* screen - 6-1-guan-yu-xue-lian-xue-lian-li-shi */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63ec999b4cbf29a442bc4dcf.63ec999d5da3fb649b3db873.Z8nxF1Y.hcp.png");

@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/msyhbd.ttf") format("truetype");
}
@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/msyh.ttf") format("truetype");
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.slides {
    display: none;
}
img {vertical-align: middle;}

.slide-show .slides img{
    border-radius: 30px;
}

.slide-show {
    max-width: 1100px;
    max-height: 500px;
    position: relative;
    margin: auto;
    margin-top: 10%;
    z-index: -1;
}

.slide-show h1{
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);
    text-align: center;
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


:root {
    --allports: #006fb530;
    --black: #000000;
    --jacksons-purple: #1d2088;
    --white: #ffffff;

    --font-size-l: 32px;
    --font-size-m: 20px;
    --font-size-xl: 40px;

    --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
    --font-family-microsoft_yahei-regular: "Microsoft YaHei-Regular", Helvetica;
}

.block2{

    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.microsoftyahei-bold-blue-20px {
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */



.microsoftyahei-regular-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-regular-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-black-32px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-black-15px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.button {
    margin-top: 20px;
    background-color: #1D2088;
    /*align-items: flex-start;*/
    border: 3px solid;
    border-color: var(--blue);
    border-radius: 32px;
    display: flex;
    left: 0;
    padding: 14px 29px;
    /*position: absolute;*/
    /*top: 195px;*/
    width: 182px;
    text-decoration: none;
}

.button-text {
    color: white;
    font-weight: bold;
    flex: 1;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -3.00px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: white;
}

.button:hover .button-text {
    color: #1D2088;
    z-index: 1;
}


.title1{
    font-size: 40px;
    text-align: center;

    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 50px;
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);

}

.introduction{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.calendar{
    border: 3px solid;
    background-color: #1D2088;
    border-color: var(--blue);
    border-radius: 32px;
    padding: 14px 29px;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    z-index: 1;
}

.calendar-text{
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: bold;
    flex: 1;
    letter-spacing: 0;
    position: relative;
    /*z-index: 1;*/
    margin-left: 5%;
    right: 5%;
}

.small-text{

    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.big-text{
    font-size: 32px;
    z-index: 1;
}

.paragraph{
    display: table;
    margin-left: 8%;
    margin-right: 15%;
}

.blackTitle{
    font-family: var(--font-family-microsoft_yahei-bold);
    color: var(--jacksons-purple);
    font-size: var(--font-size-l);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
}

.sentence{
    max-width: 600px;
    font-size: 20px;
    font-weight: normal;
    line-height: 2;
    margin-bottom: 50px;
}


.flow{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    margin-left: 8%;
}

.recruit-poster{
    margin-left: -8%;
    margin-right: 15%;
}

.poster-small-intro{
    margin-top: 10px;
    margin-left: 20px;
    color: var(--white);
    text-align: left;
    font-size: 13px;
}

.poster-big-intro{
    margin-top: 5px;
    margin-left: 20px;
    color: black;
    text-align: left;
    font-size: 20px;
}

.block3 table{

    margin-left: 26%;
    /*margin-right: 15%;*/
    margin-bottom: 100px;
}

.block3 table tr{
    height: 50px;

}

.block3 table td{
    /*width: 200px;*/
    text-align: center;
    font-size: var(--font-size-m);
    font-weight: bold;
    color: var(--black);
}

.block3 table a{

    color: black;
}