@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63ec999b4cbf29a442bc4dcf.63ec999d5da3fb649b3db873.Z8nxF1Y.hcp.png");

@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 350;
    src: url("../fonts/msyhbd.ttf") format("truetype");
}
@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/msyh.ttf") format("truetype");
}

:root {
    --allports: #006fb530;
    --black: #000000;
    --jacksons-purple: #1d2088;
    --white: #ffffff;

    --font-size-l: 32px;
    --font-size-m: 20px;
    --font-size-xl: 40px;
    --font-size-nml: 16px;
    --font-size-ct: 16px;

    --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
    --font-family-microsoft_yahei-regular: "Microsoft YaHei-Regular", Helvetica;
}

.intro{
    width: 55%;
    margin-left: 200px;
    margin-top: 150px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1{
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 40px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 85%;
}

.intro .text{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-nml);
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 1.5;
    text-align: justify;
}

.content h2{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -1.00px;
    width: 100%;
    text-align: left;
    margin-left: 10%;
}



.content{
    width: 15%;
    position: fixed;
    background: #eee;
    /*overflow-x: hidden;*/
    padding: 1%;
    margin-left: 80%;
    /*margin-top: -10%;*/
}

.content a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 3px;
    margin-left: 10%;
    font-size: var(--font-size-ct);
    line-height: 1.5;

}

/*manage-graph start*/
.manage-graph{
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.manage-graph img{
    width: 70%;
    /*margin-top: 10%;*/
}

.manage-graph h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}
/*manage-graph end*/

/*depart-intro start*/
.depart-intro{
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.depart-intro h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}

.depart-intro h2{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 3%;
    margin-bottom: 3%;
}


.finance-Department .text-d, .secretary .text-d, .Hr .text-d, .marketing .text-d, .design-d .text-d, .new-media .text-d, .entertain .text-d,
.communicate .text-d, .career .text-d, .art .text-d{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-nml);
    font-style: normal;
    font-weight: 400;
    width: 65%;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
    text-align: justify;
}

.depart-intro .finance-Department u, .secretary u, .Hr u, .marketing u, .design-d u, .new-media u, .entertain u, .communicate u, .career u, .art u{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-ct);
    font-style: normal;
    font-weight: 700;
    width: 50%;
    border-bottom: 2px black;

}



.depart-intro .parent .art2 u,.depart-intro .parent .art3 u{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-ct);
    font-style: normal;
    font-weight: 700;
    width: 50%;
    border-bottom: 1px black;

}

.depart-intro .parent .art2{
    flex-direction: column;
    width: 55%;
    margin-left: 2%;
    line-height: 1.5;

}

.depart-intro .parent .art3{
    flex-direction: column;
    width: 55%;
    margin-left: -20%;
    line-height: 1.5;
}


.depart-intro .parent .art2 .text-d, .art3 .text-d{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-ct);
    font-style: normal;
    font-weight: 400;
    width: 50%;
    /*margin-bottom: 2%;*/

}



/*depart-intro end*/

/*current-manage start*/
.current-manage{
    margin-left: 15%;
}

.manage-avatar2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.manage-avatar1,.manage-avatar3 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    gap: 2%;
}

.avatar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.avatar-text1 {
    font-size: var(--font-size-ct);
    font-family: var(--font-family-microsoft_yahei-bold);
    line-height: 1.5;
}

.avatar-text{
    font-size: var(--font-size-ct);
    font-family: var(--font-family-microsoft_yahei-regular);
    line-height: 1.5;
}

.current-manage h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*current-manage end*/

/*curren-honor start*/
.current-honor{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.current-honor h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*current-honor end*/

/*alumini start*/
.alumini{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.alumini h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}


.alumini .text-al{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-nml);
    font-style: normal;
    font-weight: 400;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
}

.alumini .text-al1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-nml);
    font-style: normal;
    font-weight: 400;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
    text-align: justify;
}

.alumini-logo img{
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    width: 30%;
    margin-right: 40%;
}
/*alumini end*/

/*mascot start*/
.mascot-intro{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mascot-intro h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;

}

.mascot-logo img{
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 20%;
    margin-right: 40%;
}

.mascot-intro .text-al{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-nml);
    font-style: normal;
    font-weight: 400;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 1.5;
    text-align: justify;
}

.mascot-intro a{
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-ct);
}

/*mascot end*/

/*web-group start*/

.web-group-intro{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.web-group-intro h1{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}

.coordinating, .technical, .design, .editing{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-nml);
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    width: 40%;
}

.coordinating th, .technical th, .design th, .editing th{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);

}

.coordinating a, .technical a, .design a, .editing a{
    text-decoration: none;
    color: var(--black);
}

th{
    height: 30px;

}

td{
    width: 300px;
    height: 30px;
}


tr:nth-child(odd){background-color: var(--white)}

/*web-group end*/




.microsoftyahei-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-regular-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-bold-white-15px{
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-blue-20px {
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    text-align: center;
}


.microsoftyahei-bold-blue-16px {
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-regular-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-ct);
    font-style: normal;
    font-weight: 400;
}