@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63ec999b4cbf29a442bc4dcf.63ec999d5da3fb649b3db873.Z8nxF1Y.hcp.png");

@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 350;
    src: url("../fonts/msyhbd.ttf") format("truetype");
}
@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/msyh.ttf") format("truetype");
}



:root {
    --allports: #006fb530;
    --black: #000000;
    --jacksons-purple: #1d2088;
    --white: #ffffff;

    --font-size-l: 32px;
    --font-size-m: 20px;
    --font-size-xl: 40px;

    --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
    --font-family-microsoft_yahei-regular: "Microsoft YaHei-Regular", Helvetica;
}

.microsoftyahei-regular-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-regular-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-black-32px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-black-15px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.button {
    margin-top: 20px;
    /*align-items: flex-start;*/
    border: 3px solid;
    border-color: var(--blue);
    border-radius: 32px;
    display: flex;
    gap: 40px;
    left: 0;
    padding: 14px 29px;
    /*position: absolute;*/
    /*top: 195px;*/
    width: 182px;
    text-decoration: none;
    z-index: -1;
}

.button-text {
    color: #1d2088;
    font-weight: bold;
    flex: 1;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -3.00px;
    position: relative;
    text-align: center;
    z-index: -1;
}

.button:hover {
    background-color: #1d2088;
}

.button:hover .button-text {
    color: #ffffff;
    z-index: 1;
}


.title1{
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 2%;
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-xl);

}


.poster1{
    height: 450px;
    width: 300px;
    margin-left: 12%;
    margin-bottom: 30px;
}

.poster2{
    height: 450px;
    width: 300px;
    margin-left: 15%;
    margin-bottom: 30px;
}

.script1{
    line-height: 1.5;
    max-width: 450px;
}


.script2{
    line-height: 1.5;
    max-width: 450px;
}

.button1{
    margin-left: 28%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.button2{
    margin-left: 28%;
    margin-top: 85px;
    margin-bottom: 100px;
}

.part1{
    display: flex;
    flex-direction: column;
    margin-right: 12%;
}

.part2{
    display: flex;
    flex-direction: column;
}

.upper{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
}

.poster3{
    margin-left: 15%;
    width: 70%;
    margin-bottom: 50px;
}

.script3{
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.5;
    margin-bottom: 50px;
}

.button3{
    margin-left: 43%;
    margin-right: 45%;
    margin-bottom: 100px;
}