@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/msyhbd.ttf") format("truetype");
}

@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/msyh.ttf") format("truetype");
}

:root {
    --allports: #006fb530;
    --black: #000000;
    --jacksons-purple: #1d2088;
    --white: #ffffff;

    --font-size-l: 32px;
    --font-size-m: 20px;
    --font-size-xl: 40px;
    --font-size-s: 16px;

    --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
    --font-family-microsoft_yahei-regular: "Microsoft YaHei-Regular", Helvetica;
}

.microsoftyahei-bold-white-15px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-blue-40px{
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-regular-normal-black-16px{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-bold-black-16px{
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
}


.welcome{
    height: 894px;
    width: 100%;
    background-image: url(../img/dsc-5214-1.png);
    display: table;
}


.img__box{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
}

.intro{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.prop__video{
    text-align: center;
}

.events{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.entrance{
    margin-top: 20%;
    width: 200px;
    height: 250px;
    text-align: center;
}

.nice__events{
    letter-spacing: 10px;
}

.montage{
    margin-left: 8%;
}

.tr__pic{
    margin-left: 10%;
}

.br__pic{
    margin-top: 18%;
    margin-left: 10%;
}

.bl__pic{
    margin-top: 18%;
}

.masks{
    background-color:#ffffff;
    height: 70px;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.pics{
    height: 280px;
    width: 360px;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    background-size: 100% 100%;
}

.phrases{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}


.entrance .main-button1 {
    /*align-items: flex-start;*/
    border: 3px solid;
    border-color: var(--jacksons-purple);
    border-radius: 32px;
    display: flex;
    gap: 40px;
    padding: 15px;
    background-color: var(--jacksons-purple);
    z-index: 1;
    width: 200px;
    /*margin-left: 5%;*/
    margin-top: 20px;
}

.entrance .main-button1-text{
    padding-left: 48px;
}

.entrance a {
    color: white;
    font-weight: bold;
    flex: 1;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -3.00px;
    /*position: relative;*/
    /*text-align: center;*/
    text-decoration: none;
}

.entrance .main-button1:hover {
    background-color: white;
}

.entrance .main-button1:hover .main-button1-text {
    color: #1D2088;

}



.join__page{
    margin-left: 15%;
    margin-right: 15%;
}

.join__title{
    text-align: center;
}

.join__options{
    margin-bottom: 100px;
}

.holders{
    margin-top: 50px;
    width: 480px;
    height: 280px;
    background-size: 100% 100%;
}

.r__holder{
    margin-left: 110px;
}

.l__iholder{
    background-color: #d9d9d9;
    height: 50px;
    width: 480px;
    display: flex;
}

.r__iholder{
    background-color: #d9d9d9;
    height: 50px;
    width: 480px;
    margin-left: 110px;
    display: flex;
}

.l__iholder:hover .join__group{
    text-decoration: underline;
    cursor: pointer;
}

.r__iholder:hover .join__group{
    text-decoration: underline;
    cursor: pointer;
}

.join__group{
    margin-top: 15px;
    margin-left: 10px;

}


.arrow{
    max-width: 50px;
    max-height: 50px;
}

.student__book{
    display: flex;
}

.left__dec{
    width: 310px;
    height: 540px;
    box-shadow: 5px 0px 5px #000000;
}

.main__content{
    width: 670px;
    height: 540px;
}

.right__dec{
    width: 960px;
    height: 540px;
    background-size: 100% 100%;
    box-shadow: -5px 0px 5px #000000;
}

.text__holder{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.content__text{
    margin-top: 50px;
}

.purple__mask{
    height: 100%;
    width: 100%;
    background-color: #1D2088;
    opacity: 0.5;
}

.read__btn{
    margin-left: 40%;
    margin-right: 30%;
    transform: translateY(-640%);
}

.book__name{
    margin-left: 35%;
    transform: translateY(-500%);
}

.inclusive__holder{
    width: 100%;

}



.main-btn{
    border: 3px solid;
    border-color: var(--white);
    border-radius: 32px;
    margin-top: 2%;
    display: flex;
    /*padding: 0% 10%;*/
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5%;
}

.inclusive__holder a{
    text-decoration: none;
    text-align: center;
}



.main-btn:hover {
    background-color: var(--white);
}

.main-btn:hover .main-btn-text {
    color: #1d2088;
    z-index: 1;
}