@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/msyhbd.ttf") format("truetype");
}

@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/msyh.ttf") format("truetype");
}

.microsoftyahei-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-regular-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.microsoftyahei-bold-blue-20px {
    color: #1D2088;
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-blue-40px {
    color: #1D2088;
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}


.welcome-font {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: 80pt;
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.book-font {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}



h1 {
    font-size: 120pt;
    font-weight: bold;
    margin-bottom: 50px;
}

h2 {
    font-size: 80pt;
    font-weight: bold;
    margin-bottom: 50px;
}

h3 {
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 50px;
}

p {
    font-size: 20pt;
    margin-bottom: 50px;
}

/*button {*/

/*    font-size: 20pt;*/
/*    font-weight: bold;*/
/*    margin-bottom: 100px;*/
/*    padding: 14px 29px;*/
/*}*/

.header {
    font-size: 20pt;

    margin-bottom: 100px;
    padding: 14px 29px;
}


:root {
    --black: #000000;
    --blue: #1d2088;
}


.container {
    display: grid;
}










/*video*/
.video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}






/*footer*/
.footer{
    position: fixed;
    /*left: 0;*/
    bottom: 0;
    width: 100%;
    z-index: 10;
    color: white;
    text-align: center;
    /*padding: 20px;*/

}
.footer p{
    font-size: 10px;
}



