h1{
    font-family: Lantinghei SC;
    font-size: 40pt;
    color: #1D2088;

}
h2{
    font-family:Source Han Sans CN;
    font-size: 16pt;
    font-weight: bold;
    line-height: 19.2;
    color: #0070B5;
}

p{
    font-family: Source Han Sans CN;
    font-size: 9pt;
    font-weight: normal; /* regular */
    line-height: 12;
}
/*<p class="sub-heading">xxxxxx</p>*/
.sub-heading{
    font-family: Source Han Sans CN;
    font-size: 16pt;
    font-weight: bold;
    border: 1px solid red;
}

/*正文*/
/*<p class = "normal-text">*/
.normal-text{
    font-family: Source Han Sans CN;
    font-size: 9pt;
    font-weight: bold;
    line-height: 12;
    color: black;
}