@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/msyhbd.ttf") format("truetype");
}

@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/msyh.ttf") format("truetype");
}

:root {
    --allports: #006fb530;
    --black: #000000;
    --jacksons-purple: #1d2088;
    --white: #ffffff;

    --font-size-l: 32px;
    --font-size-m: 20px;
    --font-size-xl: 40px;
    --font-size-s: 16px;
    --font-size-ms: 25px;

    --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
    --font-family-microsoft_yahei-regular: "Microsoft YaHei-Regular", Helvetica;
}

.title1{
    font-size: 40px;
    text-align: center;

    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 50px;
    color: var(--jacksons-purple);
    font-family: var(--font-family-microsoft_yahei-bold);

}

.main{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.upper{
    display: flex;
    flex-direction: row;
}

.word{
    width: 70%;
    margin-right: 30px;
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-s);
    line-height: 1.5;
    text-align: justify;
}
.picture{
    margin-top: 5%;
    width: 40%;
    height: 55%;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.small-title{
    margin-top: 10%;
}

.title-word{
    font-size: 16px;
    /*font-weight: bold;*/
    text-align: center;
    font-family: var(--font-family-microsoft_yahei-bold);
    line-height: 1.5;
}

.map{
    z-index: 5;
    width: 1000px;
    /*margin-top: -100px;*/
}

.white-text {
    color: white;
    display:inline-block;
    margin: -10px 360px 30px;
    line-height: 2;
    background-color: #1D2088;
    border-radius: 30px;
}

.function{
    display: flex;
    flex-direction: column;
}


.nameText{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}

.introText{
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    margin-left: 15px;
}


.bei-jing{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:150%;
    visibility: hidden;
}

.shanxi{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:160%;
    visibility: hidden;
}

.chengdu{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 8%;
    top:185%;
    visibility: hidden;
}

.guangzhou{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:180%;
    visibility: hidden;
}

.shenzhen{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 45%;
    top: 185%;
    visibility: hidden;
}


.ningbo{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:180%;
    visibility: hidden;
}

.wuhan{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:170%;
    visibility: hidden;
}

.hangzhou{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:170%;
    visibility: hidden;
}

.shenyang{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:150%;
    visibility: hidden;
}

.xian{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 18%;
    top:125%;
    visibility: hidden;
}

.fujian{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:150%;
    visibility: hidden;
}

.hubei{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:150%;
    visibility: hidden;
}

.xianggang{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 45%;
    top: 200%;
    visibility: hidden;
}

.shanghai{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:175%;
    visibility: hidden;
}



.charts{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: -6%;
}

.pie-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #1D2088;
    margin-bottom: -10px;
}

.two-pies{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.chart-text{
    font-size: 16px;
    color: white;
    background-color: #1D2088;
    border-radius: 10px;
    width: 15%;
    line-height: 3;
    position: absolute;
    text-align: center;
    font-family: var(--font-family-microsoft_yahei-regular);
}

