.main{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
.title{
    color: #1D2088;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}
.upper{
    display: flex;
    flex-direction: row;
}

.word{
    width: 70%;
    margin-right: 30px;
}
.picture{
    margin-top: 15%;
    width: 40%;
    height: 55%;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.small-title{
    margin-top: 10%;
}

.title-word{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.map{
    z-index: 5;
    width: 2400px;
    margin-left: -620px;
    margin-top: -300px;
}

.white-text {
    font-size: 32px;
    color: white;
    display:inline-block;
    margin: -10px 360px 10px;
    line-height: 2;
    background-color: #1D2088;
    text-align: center;
    border-radius: 30px;
}

.function{
    display: flex;
    flex-direction: column;
}

.bei-jing{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:150%;
    visibility: hidden;
}

.shanxi{
    width: 15%;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: 50%;
    top:160%;
    visibility: hidden;
}

