@font-face {
    font-family: "Microsoft YaHei-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/msyhbd.ttf") format("truetype");
}
@font-face {
    font-family: "Microsoft YaHei-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/msyh.ttf") format("truetype");
}

.microsoftyahei-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.microsoftyahei-regular-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-microsoft_yahei-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}


body {
    font-size: 20pt;
    margin: 0 360px;
    max-width: 1200px;
    text-align: center;
}


h1 {
    font-size: 120pt;
    font-weight: bold;
    margin-bottom: 50px;
}

h2 {
    font-size: 80pt;
    font-weight: bold;
    margin-bottom: 50px;
}

h3 {
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 50px;
}

p {
    font-size: 20pt;
    margin-bottom: 50px;
}

button {

    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 100px;
    padding: 14px 29px;
}

.header {
    font-size: 20pt;
    font-weight: medium;
    margin-bottom: 100px;
    padding: 14px 29px;
}


:root {
    --black: #000000;
    --blue: #1d2088;
}

.container{
    display: grid;
}

/*.bg{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top:0px;*/
/*    background: url("images/资源 2.png") no-repeat;*/
/*    background-size: cover;*/
/*    -webkit-filter: blur(10px);*/
/*    -moz-filter: blur(10px);*/
/*    -o-filter: blur(10px);*/
/*    -ms-filter: blur(10px);*/
/*    filter: blur(10px);*/
/*    opacity: 0.8;*/
/*}*/

.header{
    background-color: rgba(255, 255, 255, 0.8);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}





/*p{*/
/*    font-family: Source Han Sans CN, serif;*/
/*    font-size: 18pt;*/
/*    font-weight: normal; !* regular *!*/
/*    line-height: 12;*/
/*}*/
/*<p class="sub-heading">xxxxxx</p>*/


/*正文*/
/*<p class = "normal-text">*/
.normal-text p{
    font-family: Source Han Sans CN, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 12;
    color: black;
}


/*video*/
.video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}










