/* screen - 5-he-zuo-fang */

.x5-he-zuo-fang {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 5115px;
  overflow: hidden;
  width: 1920px;
}

.x5-he-zuo-fang .overlap-group2 {
  height: 4210px;
  margin-left: -803px;
  margin-top: 998px;
  position: relative;
  width: 3440px;
}

.x5-he-zuo-fang .frame-205 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: fit-content;
}

.x5-he-zuo-fang .x100 {
  background-color: var(--white);
  height: 100px;
  min-width: 1920px;
  position: relative;
}

.x5-he-zuo-fang .group-132 {
  align-items: center;
  display: flex;
  gap: 300px;
  left: 162px;
  min-width: 1595px;
  position: relative;
  top: 14px;
}

.x5-he-zuo-fang .x20230215020424-1 {
  height: 73px;
  object-fit: cover;
  width: 185px;
}

.x5-he-zuo-fang .group-119 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-bottom: 1.0px;
  min-width: 1124px;
}

.x5-he-zuo-fang .text-1-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 40px;
  text-align: center;
}

.x5-he-zuo-fang .text-2-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 87px;
  min-height: 24px;
  min-width: 40px;
  text-align: center;
}

.x5-he-zuo-fang .text-3-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 99px;
  min-height: 24px;
  min-width: 80px;
  text-align: center;
}

.x5-he-zuo-fang .text-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 117px;
  min-height: 24px;
  min-width: 100px;
  text-align: center;
}

.x5-he-zuo-fang .text-5 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 111px;
  min-height: 24px;
  min-width: 60px;
  text-align: center;
}

.x5-he-zuo-fang .text-6 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 105px;
  min-height: 24px;
  min-width: 80px;
  text-align: center;
}

.x5-he-zuo-fang .text-7 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 111px;
  min-height: 24px;
  min-width: 80px;
  text-align: center;
}

.x5-he-zuo-fang .frame-19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 0px 360px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .text {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 284px;
}

.x5-he-zuo-fang .frame-198 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .frame-196 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 0px 360px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .group-191 {
  height: 372px;
  margin-right: -2.00px;
  min-width: 1202px;
  position: relative;
}

.x5-he-zuo-fang .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  min-height: 278px;
  position: absolute;
  top: 0;
  width: 489px;
}

.x5-he-zuo-fang .university-of-sydney-union-1 {
  height: 166px;
  object-fit: cover;
  width: 489px;
}

.x5-he-zuo-fang .frame-148 {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  border-radius: 50px;
  display: flex;
  gap: 10px;
  margin-left: 20.56px;
  padding: 24px 40px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .university-of {
  left: 557px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 10px;
  width: 643px;
}

.x5-he-zuo-fang .group-192 {
  height: 269px;
  margin-right: -2.00px;
  min-width: 1202px;
  position: relative;
}

.x5-he-zuo-fang .flex-col-1 {
  align-items: center;
  gap: 21px;
  min-height: 231px;
  top: 0;
  width: 480px;
}

.x5-he-zuo-fang .src-logo-1 {
  height: 138px;
  object-fit: cover;
  width: 480px;
}

.x5-he-zuo-fang .frame-148-1 {
  margin-left: 29.62px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .students-re {
  left: 535px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 23px;
  width: 665px;
}

.x5-he-zuo-fang .group-194 {
  height: 221px;
  min-width: 1200px;
  position: relative;
}

.x5-he-zuo-fang .frame-186 {
  align-items: center;
  display: flex;
  gap: 107px;
  min-width: 1200px;
}

.x5-he-zuo-fang .overlap-group {
  height: 221px;
  position: relative;
  width: 450px;
}

.x5-he-zuo-fang .supra-logo-1 {
  height: 149px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 450px;
}

.x5-he-zuo-fang .frame-148-2 {
  left: 147px;
  position: absolute;
  top: 149px;
  width: fit-content;
}

.x5-he-zuo-fang .supra {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 19.0px;
  width: 643px;
}

.x5-he-zuo-fang .group-195 {
  height: 270px;
  margin-right: -2.00px;
  min-width: 1202px;
  position: relative;
}

.x5-he-zuo-fang .flex-col-2 {
  align-items: flex-end;
  gap: 18px;
  min-height: 256px;
  top: 6px;
  width: 400px;
}

.x5-he-zuo-fang .the-university-of-sydney-vector-logo-1 {
  height: 166px;
  object-fit: cover;
  width: 400px;
}

.x5-he-zuo-fang .frame-148-3 {
  margin-right: 45px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .text-13 {
  left: 557px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 643px;
}

.x5-he-zuo-fang .group-197 {
  height: 154px;
  min-width: 1204px;
  position: relative;
}

.x5-he-zuo-fang .flex-col-3 {
  align-items: center;
  gap: 33px;
  min-height: 144px;
  top: 10px;
  width: 449px;
}

.x5-he-zuo-fang .text-15 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  width: 449px;
}

.x5-he-zuo-fang .frame-148-4 {
  margin-left: 61.38px;
  position: relative;
  width: 201px;
}

.x5-he-zuo-fang .text-16 {
  left: 558px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 642px;
}

.x5-he-zuo-fang .text-17 {
  height: 68px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 278.7px;
}

.x5-he-zuo-fang .group-125 {
  height: 147px;
  min-width: 1315.01px;
  position: relative;
}

.x5-he-zuo-fang .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 51px;
  height: 147px;
  min-width: 1315px;
}

.x5-he-zuo-fang .frame-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  min-height: 147px;
  width: 177px;
}

.x5-he-zuo-fang .frame-2 {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  padding: 14px 29px;
  position: relative;
  width: 177px;
}

.x5-he-zuo-fang .all {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x5-he-zuo-fang .frame {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--jacksons-purple);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  padding: 14px 29px;
  position: relative;
  width: 177px;
}

.x5-he-zuo-fang .text-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -3.00px;
  position: relative;
  text-align: center;
}

.x5-he-zuo-fang .frame-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 42px;
  min-height: 146px;
  width: 177px;
}

.x5-he-zuo-fang .frame-156 {
  align-items: center;
  display: flex;
  gap: 105px;
  justify-content: center;
  padding: 0px 360px;
  position: relative;
  width: 2000px;
}

.x5-he-zuo-fang .group-151 {
  background-color: var(--alto);
  border-radius: 39.5px;
  height: 79px;
  margin-left: -19.00px;
  min-width: 79px;
  position: relative;
}

.x5-he-zuo-fang .vector-1 {
  left: 22px;
}

.x5-he-zuo-fang .group-15 {
  height: 331px;
  min-width: 222px;
  position: relative;
}

.x5-he-zuo-fang .rectangle-6 {
  height: 220px;
  width: 220px;
}

.x5-he-zuo-fang .text-3 {
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 283px;
}

.x5-he-zuo-fang .group-154 {
  height: 428px;
  min-width: 302px;
  position: relative;
}

.x5-he-zuo-fang .rectangle-60 {
  height: 300px;
  width: 300px;
}

.x5-he-zuo-fang .text-30 {
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 380px;
}

.x5-he-zuo-fang .group-152 {
  height: 79px;
  margin-right: -19.00px;
  min-width: 79px;
  position: relative;
}

.x5-he-zuo-fang .overlap-group-1 {
  border-radius: 39.5px;
  height: 79px;
  position: relative;
  width: 79px;
}

.x5-he-zuo-fang .ellipse-2 {
  background-color: var(--alto);
  border-radius: 39.5px;
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 79px;
}

.x5-he-zuo-fang .vector-2 {
  left: 26px;
}

.x5-he-zuo-fang .group-198 {
  height: 765.4px;
  min-width: 1274px;
  position: relative;
}

.x5-he-zuo-fang .group-156 {
  align-items: flex-start;
  display: flex;
  height: 332px;
  left: 347px;
  min-width: 582px;
  position: absolute;
  top: 0;
}

.x5-he-zuo-fang .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 30px;
  display: flex;
  height: 332px;
  min-width: 580px;
  padding: 140px 201px;
}

.x5-he-zuo-fang .text-33 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 52px;
  width: 178px;
}

.x5-he-zuo-fang .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 114px;
  height: 332px;
  left: 0;
  min-width: 1274px;
  position: absolute;
  top: 433px;
}

.x5-he-zuo-fang .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 30px;
  display: flex;
  height: 332px;
  justify-content: flex-end;
  min-width: 580px;
  padding: 140px 111.0px;
}

.x5-he-zuo-fang .text-34 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 52px;
  width: 357px;
}

.x5-he-zuo-fang .overlap-group-4 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 30px;
  display: flex;
  height: 332px;
  min-width: 580px;
  padding: 145px 115px;
}

.x5-he-zuo-fang .ngo {
  letter-spacing: 0;
  line-height: normal;
  min-height: 41px;
  width: 350px;
}

.x5-he-zuo-fang .view {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  display: flex;
  flex-direction: column;
  gap: 68px;
  height: 485px;
  left: 803px;
  padding: 37px 3px;
  position: absolute;
  top: 3510px;
  width: 1920px;
}

.x5-he-zuo-fang .frame-128 {
  align-items: flex-start;
  display: flex;
  gap: 87px;
  margin-top: 59px;
  padding: 0px 200px;
  position: relative;
  width: fit-content;
}

.x5-he-zuo-fang .group-130 {
  height: 247px;
  min-width: 842px;
  position: relative;
}

.x5-he-zuo-fang .overlap-group-5 {
  height: 247px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x5-he-zuo-fang .sucsa {
  left: 0;
  letter-spacing: 0;
  line-height: 36.6px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x5-he-zuo-fang .frame-3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--white);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 14px 29px;
  position: absolute;
  top: 195px;
  width: 182px;
}

.x5-he-zuo-fang .frame-1 {
  height: 244px;
  left: 0;
  position: absolute;
  top: 0;
  width: 244px;
}

.x5-he-zuo-fang .group-129 {
  height: 234px;
  margin-right: -2.00px;
  min-width: 500.11px;
  position: relative;
}

.x5-he-zuo-fang .overlap-group1 {
  height: 234px;
  position: relative;
  width: 498px;
}

.x5-he-zuo-fang .sydneyunicsagmailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 36.6px;
  position: absolute;
  top: 0;
  width: 400px;
}

.x5-he-zuo-fang .span2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
}

.x5-he-zuo-fang .group-131 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 65px;
  left: 0;
  min-width: 498px;
  padding: 0 0.0px;
  position: absolute;
  top: 169px;
}

.x5-he-zuo-fang .group-131-item {
  height: 65px;
  object-fit: cover;
  width: 63px;
}

.x5-he-zuo-fang .copyright-2023-by {
  align-self: center;
  letter-spacing: 0;
  line-height: 36.6px;
  margin-left: 1.0px;
  min-height: 37px;
  min-width: 679px;
  white-space: nowrap;
}

.x5-he-zuo-fang .flex-col-4 {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
}

.x5-he-zuo-fang .frame-148-5 {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  border-radius: 50px;
  display: flex;
  gap: 10px;
  padding: 24px 40px;
}

.x5-he-zuo-fang .rectangle {
  background-color: var(--alto);
  left: 0;
  position: absolute;
  top: 0;
}

.x5-he-zuo-fang .vector {
  height: 42px;
  position: absolute;
  top: 18px;
  width: 31px;
}
