/* screen - 5-4-di-san-fang-ngo */

.x5-4-di-san-fang-ngo {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 2032px;
  overflow: hidden;
  width: 1920px;
}

.x5-4-di-san-fang-ngo .overlap-group {
  height: 1581px;
  position: relative;
  width: 1922px;
}

.x5-4-di-san-fang-ngo .x100 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 239px;
  height: 100px;
  left: 0;
  min-width: 1920px;
  padding: 20.1px 176px;
  position: absolute;
  top: 0;
}

.x5-4-di-san-fang-ngo .x20230215020424-1 {
  align-self: flex-end;
  height: 59px;
  object-fit: cover;
  width: 223px;
}

.x5-4-di-san-fang-ngo .navbar {
  align-items: flex-end;
  display: flex;
  gap: 102px;
  height: 27px;
  margin-top: 1.0px;
  min-width: 1106px;
}

.x5-4-di-san-fang-ngo .navbar-link-text-1 {
  align-self: flex-start;
  min-width: 40px;
}

.x5-4-di-san-fang-ngo .navbar-link-text-2 {
  min-width: 40px;
}

.x5-4-di-san-fang-ngo .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

.x5-4-di-san-fang-ngo .navbar-link-text-4 {
  min-width: 100px;
}

.x5-4-di-san-fang-ngo .navbar-link-text-5 {
  min-width: 60px;
}

.x5-4-di-san-fang-ngo .navbar-link-text-6 {
  cursor: pointer;
  min-width: 80px;
}

.x5-4-di-san-fang-ngo .ngo_xina {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 1501px;
  left: 2px;
  overflow: hidden;
  padding: 100px 0px 34px;
  position: absolute;
  top: 80px;
  width: 1920px;
}

.x5-4-di-san-fang-ngo .group-205 {
  height: 104px;
  min-width: 969.19px;
  position: relative;
}

.x5-4-di-san-fang-ngo .flex-row {
  align-items: center;
  display: flex;
  height: 104px;
  min-width: 967px;
}

.x5-4-di-san-fang-ngo .line-51 {
  margin-bottom: 5.0px;
}

.x5-4-di-san-fang-ngo .text-8 {
  color: #1d2088;
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: normal;
  margin-left: 12px;
  min-height: 104px;
  width: 622px;
}

.x5-4-di-san-fang-ngo .line-50 {
  margin-left: 8px;
}

.x5-4-di-san-fang-ngo .ngo {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.x5-4-di-san-fang-ngo .frame-201 {
  height: 285px;
}

.x5-4-di-san-fang-ngo .group-201 {
  align-items: flex-start;
  display: flex;
  gap: 107px;
  height: 220px;
  left: 360px;
  min-width: 1201px;
  position: absolute;
  top: 0;
}

.x5-4-di-san-fang-ngo .rectangle-18 {
  object-fit: cover;
}

.x5-4-di-san-fang-ngo .group-202 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 370px;
  min-width: 1149px;
  position: absolute;
  top: 245px;
}

.x5-4-di-san-fang-ngo .text-9 {
  line-height: 40px;
  min-width: 200px;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .text-10 {
  line-height: 40px;
  margin-left: 187px;
  min-width: 80px;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .text-11 {
  line-height: 40px;
  margin-left: 167px;
  min-width: 240px;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .text-12 {
  line-height: 40px;
  margin-left: 147px;
  min-width: 120px;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .frame-202 {
  height: 288px;
}

.x5-4-di-san-fang-ngo .group-201-1 {
  align-items: flex-start;
  display: flex;
  gap: 107px;
  height: 220px;
  left: 360px;
  min-width: 874px;
  position: absolute;
  top: 0;
}

.x5-4-di-san-fang-ngo .group-202-1 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 398px;
  min-width: 770px;
  position: absolute;
  top: 245px;
}

.x5-4-di-san-fang-ngo .cheer-light {
  letter-spacing: 0;
  line-height: 40px;
  min-width: 145px;
  text-align: center;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .text-13 {
  line-height: 40px;
  margin-left: 174px;
  min-width: 160px;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .name {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 209px;
  min-width: 76px;
  text-align: center;
  white-space: nowrap;
}

.x5-4-di-san-fang-ngo .frame {
  margin-left: -0.50px;
  margin-right: -0.50px;
  min-width: 1921px;
  position: relative;
}

.x5-4-di-san-fang-ngo .line {
  height: 5px;
  width: 162px;
}

.x5-4-di-san-fang-ngo .navbar-link-text-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  text-align: center;
}

.x5-4-di-san-fang-ngo .rectangle {
  height: 220px;
  width: 220px;
}

.x5-4-di-san-fang-ngo .text {
  letter-spacing: 0;
  text-align: center;
}
