:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 40px;
  --font-size-m: 20px;
  --font-size-xl: 80px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
}
.microsoftyahei-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
