/* screen - 587_2816 */

.xina {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 1414px;
  padding: 100px 0px 34px;
  position: relative;
  width: 1920px;
}

.group-205 {
  height: 104px;
  min-width: 969.19px;
  position: relative;
}

.flex-row {
  align-items: center;
  display: flex;
  height: 104px;
  min-width: 967px;
}

.line-51 {
  margin-bottom: 5.0px;
}

.text-1-2 {
  color: #1d2088;
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: normal;
  margin-left: 12px;
  min-height: 104px;
  width: 622px;
}

.line-50 {
  margin-left: 8px;
}

.text-2-1 {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame-201 {
  height: 285px;
}

.group-201 {
  align-items: flex-start;
  display: flex;
  gap: 107px;
  height: 220px;
  left: 360px;
  min-width: 1201px;
  position: absolute;
  top: 0;
}

.rectangle-18 {
  height: 220px;
  width: 220px;
}

.rectangle-18-1 {
  height: 220px;
  object-fit: cover;
  width: 220px;
}

.navbar {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 363px;
  min-width: 1200px;
  position: absolute;
  top: 245px;
}

.text {
  white-space: nowrap;
  width: 212px;
}

.text-1 {
  margin-left: 70px;
  white-space: nowrap;
  width: 301px;
}

.navbar-link-text-5 {
  margin-left: 102px;
  width: 151px;
}

.navbar-link-text-6 {
  margin-left: 141px;
  width: 215px;
}

.frame-20 {
  height: 325px;
}

.group-202 {
  align-items: center;
  display: flex;
  height: 80px;
  left: 363px;
  min-width: 1200px;
  position: absolute;
  top: 245px;
}

.text-2 {
  margin-left: 102px;
  min-height: 80px;
  width: 151px;
}

.text-1-1 {
  line-height: 40px;
  margin-left: 141px;
  min-height: 80px;
  width: 215px;
}

.group-202-1 {
  align-items: flex-start;
  display: flex;
  height: 100px;
  left: 363px;
  min-width: 1200px;
  position: absolute;
  top: 245px;
}

.text-11 {
  align-self: flex-end;
  min-height: 80px;
  width: 212px;
}

.text-12 {
  align-self: center;
  margin-bottom: 20.0px;
  margin-left: 70px;
  white-space: nowrap;
  width: 301px;
}

.frame {
  min-width: 1920px;
  position: relative;
}

.line {
  height: 5px;
  width: 162px;
}

.navbar-link-text {
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
}

.text-3 {
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}

.text-1-3 {
  letter-spacing: 0;
  text-align: center;
}
