/* screen - 137_1847 */

.xina {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 3914px;
  overflow: hidden;
  padding: 34px 0px;
  position: relative;
  width: 1920px;
}

.group-205 {
  height: 104px;
  min-width: 719.22px;
  position: relative;
}

.overlap-group {
  height: 104px;
  position: relative;
  width: 717px;
}

.text-1 {
  color: #1d2088;
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 622px;
}

.line-51 {
  left: 0;
}

.line-50 {
  left: 555px;
}

.frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  padding: 0px 360px;
  position: relative;
  width: fit-content;
}

.group-201 {
  height: 220px;
  min-width: 1201px;
  position: relative;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 107px;
  min-width: 1201px;
}

.rectangle-18 {
  height: 220px;
  width: 220px;
}

.rectangle-18-1 {
  height: 220px;
  object-fit: cover;
  width: 220px;
}

.group-202-1 {
  height: 40px;
  min-width: 1069px;
  position: relative;
}

.text-container {
  align-items: flex-start;
  display: flex;
  height: 40px;
  min-width: 1061px;
}

.text-2 {
  letter-spacing: 0;
  line-height: 40px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.text-3 {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 257px;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
}

.text {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 257px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.text-5 {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 247px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.group-202-2 {
  height: 40px;
  min-width: 1089px;
  position: relative;
}

.text-container-1 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  min-width: 1081px;
}

.text-6 {
  letter-spacing: 0;
  line-height: 40px;
  min-width: 120px;
  text-align: center;
  white-space: nowrap;
}

.text-7 {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 237px;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
}

.text-8 {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 267px;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
}

.group-202-3 {
  height: 40px;
  min-width: 1119px;
  position: relative;
}

.flex-row-2 {
  height: 40px;
  min-width: 1111px;
}

.text-10 {
  letter-spacing: 0;
  line-height: 40px;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
}

.text-11 {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 217px;
  min-width: 80px;
  text-align: center;
  white-space: nowrap;
}

.star-fit-personal-training {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 169px;
  min-width: 237px;
  text-align: center;
  white-space: nowrap;
}

.machi-machi {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 149px;
  min-width: 119px;
  text-align: center;
  white-space: nowrap;
}

.group-202-4 {
  height: 80px;
  min-width: 1155.25px;
  position: relative;
}

.flex-row-3 {
  height: 80px;
  min-width: 1147px;
}

.huawei-experience-store-cbd {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 80px;
  min-width: 195px;
  text-align: center;
}

.sf-international-au-sparklet-petcare {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 126px;
  min-height: 80px;
  min-width: 206px;
  text-align: center;
}

.med-career {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 199px;
  min-width: 106px;
  text-align: center;
  white-space: nowrap;
}

.text-12 {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 196px;
  min-width: 120px;
  text-align: center;
  white-space: nowrap;
}

.group-202 {
  height: 80px;
  min-width: 1150px;
  position: relative;
}

.flex-row-1 {
  height: 80px;
  min-width: 1142px;
}

.wao-superclub {
  letter-spacing: 0;
  line-height: 40px;
  min-width: 147px;
  text-align: center;
  white-space: nowrap;
}

.bubble-nini {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 199px;
  min-width: 108px;
  text-align: center;
  white-space: nowrap;
}

.c-dance-studio {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 200px;
  min-width: 160px;
  text-align: center;
  white-space: nowrap;
}

.doublekill-games {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 158px;
  min-height: 80px;
  min-width: 169px;
  text-align: center;
}

.text-13 {
  height: 109px;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 717px;
}

.frame-2-1 {
  align-items: flex-start;
  background-color: #1d2088;
  border-radius: 32px;
  display: flex;
  gap: 10px;
  padding: 14px 29px;
  position: relative;
  width: 180px;
}

.text-14 {
  color: #ffffff;
  flex: 1;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
}

.line {
  height: 5px;
  position: absolute;
  top: 47px;
  width: 162px;
}
