/* screen - 3-jia-ru-xue-lian-my-sucsa */

.x3-jia-ru-xue-lian-my-sucsa {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  width: 1920px;
}

.x3-jia-ru-xue-lian-my-sucsa .x100 {
  background-color: var(--white);
  height: 100px;
  position: relative;
  width: 1920px;
}

.x3-jia-ru-xue-lian-my-sucsa .group-132 {
  align-items: flex-start;
  display: flex;
  gap: 239px;
  left: 176px;
  min-width: 1554px;
  position: relative;
  top: 21px;
}

.x3-jia-ru-xue-lian-my-sucsa .x20230215020424-1 {
  height: 59px;
  margin-top: 0;
  object-fit: cover;
  width: 223px;
}

.x3-jia-ru-xue-lian-my-sucsa .group-119 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 102px;
  height: 27px;
  margin-top: 0.13px;
  min-width: 1106px;
}

.x3-jia-ru-xue-lian-my-sucsa .text-1-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 40px;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .text-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 40px;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .text-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 100px;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .text-5 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 60px;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .text-6 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .group-204 {
  height: 104px;
  margin-left: 2.0px;
  position: relative;
  width: 662px;
}

.x3-jia-ru-xue-lian-my-sucsa .overlap-group {
  height: 104px;
  position: relative;
  width: 660px;
}

.x3-jia-ru-xue-lian-my-sucsa .text-8 {
  color: var(--jacksons-purple);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 480px;
}

.x3-jia-ru-xue-lian-my-sucsa .line-51 {
  left: 0;
}

.x3-jia-ru-xue-lian-my-sucsa .line-50 {
  left: 536px;
}

.x3-jia-ru-xue-lian-my-sucsa .frame-215 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 360px;
  position: relative;
  width: fit-content;
}

.x3-jia-ru-xue-lian-my-sucsa .group-212 {
  height: 594.12px;
  min-width: 926px;
  position: relative;
}

.x3-jia-ru-xue-lian-my-sucsa .x1-8 {
  height: 602px;
  left: -4px;
  position: absolute;
  top: 0;
  width: 390px;
}

.x3-jia-ru-xue-lian-my-sucsa .img_0990-2-1 {
  height: 602px;
  left: 588px;
  position: absolute;
  top: 0;
  width: 342px;
}

.x3-jia-ru-xue-lian-my-sucsa .group-213 {
  height: 414px;
  margin-right: -1.02px;
  min-width: 924.03px;
  position: relative;
}

.x3-jia-ru-xue-lian-my-sucsa .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 588px;
  min-height: 414px;
  position: absolute;
  top: 0;
  width: 332px;
}

.x3-jia-ru-xue-lian-my-sucsa .text-9 {
  letter-spacing: 0;
  line-height: 35.4px;
  min-height: 312px;
  width: 332px;
}

.x3-jia-ru-xue-lian-my-sucsa .frame-4 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--jacksons-purple);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-left: 3.97px;
  min-width: 180px;
  padding: 11px 29px;
}

.x3-jia-ru-xue-lian-my-sucsa .text-1 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 122px;
}

.x3-jia-ru-xue-lian-my-sucsa .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  left: 0;
  min-height: 414px;
  position: absolute;
  top: 0;
  width: 385px;
}

.x3-jia-ru-xue-lian-my-sucsa .sucsa {
  letter-spacing: 0;
  line-height: 35.4px;
  min-height: 312px;
  text-align: justify;
  width: 385px;
}

.x3-jia-ru-xue-lian-my-sucsa .frame-3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--jacksons-purple);
  border-radius: 32px;
  display: flex;
  height: 52px;
  margin-right: 8.94px;
  min-width: 180px;
  padding: 11px 29px;
}

.x3-jia-ru-xue-lian-my-sucsa .img_1855-1 {
  height: 360px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  min-width: 922px;
  object-fit: cover;
  position: relative;
}

.x3-jia-ru-xue-lian-my-sucsa .sucsa-1 {
  height: 104px;
  letter-spacing: 0;
  line-height: 35.4px;
  position: relative;
  width: 897px;
}

.x3-jia-ru-xue-lian-my-sucsa .frame-4-1 {
  border: 3px solid;
  border-color: var(--jacksons-purple);
  border-radius: 32px;
  height: 52px;
  min-width: 180px;
  position: relative;
}

.x3-jia-ru-xue-lian-my-sucsa .text-12 {
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 122px;
}

.x3-jia-ru-xue-lian-my-sucsa .view {
  background-color: var(--jacksons-purple);
  height: 485px;
  position: relative;
  width: 1920px;
}

.x3-jia-ru-xue-lian-my-sucsa .frame-128 {
  align-items: flex-start;
  display: flex;
  gap: 87px;
  left: 3px;
  padding: 0px 200px;
  position: absolute;
  top: 96px;
  width: fit-content;
}

.x3-jia-ru-xue-lian-my-sucsa .group-130 {
  height: 247px;
  min-width: 842px;
  position: relative;
}

.x3-jia-ru-xue-lian-my-sucsa .overlap-group-1 {
  height: 247px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x3-jia-ru-xue-lian-my-sucsa .sucsa-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 36.6px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x3-jia-ru-xue-lian-my-sucsa .frame-3-1 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--white);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 14px 29px;
  position: absolute;
  top: 195px;
  width: 182px;
}

.x3-jia-ru-xue-lian-my-sucsa .text-13 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -3.00px;
  position: relative;
  text-align: center;
}

.x3-jia-ru-xue-lian-my-sucsa .frame {
  height: 244px;
  left: 0;
  position: absolute;
  top: 0;
  width: 244px;
}

.x3-jia-ru-xue-lian-my-sucsa .group-129 {
  height: 234px;
  margin-right: -2.00px;
  min-width: 500.11px;
  position: relative;
}

.x3-jia-ru-xue-lian-my-sucsa .overlap-group1 {
  height: 234px;
  position: relative;
  width: 498px;
}

.x3-jia-ru-xue-lian-my-sucsa .sydneyunicsagmailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 36.6px;
  position: absolute;
  top: 0;
  width: 400px;
}

.x3-jia-ru-xue-lian-my-sucsa .span2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
}

.x3-jia-ru-xue-lian-my-sucsa .group-131 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 65px;
  left: 0;
  min-width: 498px;
  padding: 0 0.0px;
  position: absolute;
  top: 169px;
}

.x3-jia-ru-xue-lian-my-sucsa .group-131-item {
  height: 65px;
  object-fit: cover;
  width: 63px;
}

.x3-jia-ru-xue-lian-my-sucsa .copyright-2023-by {
  left: 621px;
  letter-spacing: 0;
  line-height: 36.6px;
  position: absolute;
  top: 411px;
  white-space: nowrap;
}

.x3-jia-ru-xue-lian-my-sucsa .line {
  height: 5px;
  position: absolute;
  top: 47px;
  width: 125px;
}
