:root { 
  --black: #000000;
 
  --font-size-l: 80px;
  --font-size-m: 20px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-microsoft_yahei-bold: "Microsoft YaHei-Bold", Helvetica;
}
.inter-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
