/* screen - 7-1-lian-xi-wo-men-quan-mei-ti-ping-tai */

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 1920px;
  overflow: hidden;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .x100 {
  background-color: var(--white);
  height: 100px;
  min-width: 1920px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-132 {
  align-items: center;
  display: flex;
  gap: 239px;
  left: 176px;
  min-width: 1554px;
  position: relative;
  top: 21px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .x20230215020424-1 {
  height: 59px;
  object-fit: cover;
  width: 223px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar {
  align-items: flex-end;
  display: flex;
  gap: 102px;
  height: 27px;
  margin-top: 0.13px;
  min-width: 1106px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text-1 {
  align-self: flex-start;
  min-width: 40px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text-2 {
  min-width: 40px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text-4 {
  min-width: 100px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text-5 {
  min-width: 60px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text-6 {
  cursor: pointer;
  min-width: 80px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-99 {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: -2.00px;
  margin-right: -2.00px;
  padding: 0px 360px;
  position: relative;
  width: 1924px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-9 {
  height: 77px;
  min-width: 287px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--jacksons-purple);
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  min-width: 285px;
  padding: 12px 0;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-8 {
  color: var(--jacksons-purple);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 48px;
  line-height: normal;
  margin-left: +40px;
  width: 285px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .overlap-group1 {
  height: 77px;
  position: relative;
  width: 285px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .rectangle-47 {
  background-color: var(--jacksons-purple);
  border-radius: 38.5px;
  height: 77px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 284px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-9 {
  height: 48px;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 285px;
  margin-left: +62px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .overlap-group2 {
  align-items: flex-end;
  background-color: var(--jacksons-purple);
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  min-width: 285px;
  padding: 14px 0;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-10 {
  height: 48px;
  line-height: normal;
  width: 285px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .overlap-group3 {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  justify-content: flex-end;
  min-width: 285px;
  padding: 15px 0;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-11 {
  height: 43px;
  line-height: normal;
  width: 285px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-96 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  margin-left: -1.50px;
  margin-right: -1.50px;
  padding: 0px 360px;
  position: relative;
  width: 1923px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-86 {
  height: 260px;
  margin-top: -16.00px;
  min-width: 1198px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group {
  height: 260px;
  min-width: 1195px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-116 {
  align-items: center;
  display: flex;
  gap: 288px;
  position: relative;
  width: 1195px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-115 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  width: fit-content;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-12 {
  height: 49px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 560px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .sucsa {
  height: 67.94px;
  letter-spacing: 0;
  line-height: 35.4px;
  position: relative;
  text-align: center;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .rectangle-30 {
  height: 260px;
  margin-right: -3.00px;
  min-width: 260px;
  object-fit: cover;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-97 {
  height: 260px;
  margin-right: -1.00px;
  min-width: 1200px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115 {
  height: 153px;
  min-width: 654px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-1 {
  left: 45px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 560px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .dozer-spac {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 94px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-1 {
  height: 193.18px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-15 {
  left: 0;
  line-height: 35.4px;
  position: absolute;
  top: 104px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-2 {
  height: 186.12px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .instagram {
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 561px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .instagram-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 107px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-3 {
  height: 166px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-16 {
  left: 44px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 560px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text_label {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 94px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .rectangle-30-1 {
  height: 260px;
  margin-right: -3.00px;
  min-width: 260px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-4 {
  height: 149px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-18 {
  left: 0;
  line-height: 35.4px;
  position: absolute;
  top: 94px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-103 {
  height: 256px;
  min-width: 1195px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-5 {
  height: 164px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-19 {
  left: 112px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 424px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .sucsa-1 {
  text-align: center;
  top: 94px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .rectangle-30-2 {
  height: 256px;
  margin-right: -5.00px;
  min-width: 262px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-6 {
  height: 150px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .bilibili {
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 561px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .bilibili-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 650px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .view {
  background-color: var(--jacksons-purple);
  height: 527px;
  min-width: 1920px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-128 {
  align-items: flex-start;
  display: flex;
  gap: 260px;
  left: 153px;
  position: absolute;
  top: 96px;
  width: fit-content;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-130 {
  height: 249px;
  min-width: 842px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .overlap-group-1 {
  height: 249px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .sucsa-2 {
  top: 0;
  width: 550px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame-3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--white);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 14px 29px;
  position: absolute;
  top: 195px;
  width: 182px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text-20 {
  flex: 1;
  line-height: normal;
  margin-top: -3.00px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .frame {
  height: 244px;
  left: 0;
  position: absolute;
  top: 0;
  width: 244px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-129 {
  height: 234px;
  margin-right: -2.00px;
  min-width: 500.11px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .overlap-group1-1 {
  height: 234px;
  position: relative;
  width: 498px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .sydneyunicsagmailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 49.0px;
  position: absolute;
  top: 0;
  width: 400px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-131 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 65px;
  left: 0;
  min-width: 498px;
  padding: 0 0.0px;
  position: absolute;
  top: 169px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-131-item {
  height: 65px;
  object-fit: cover;
  width: 63px;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .copyright-2023-by {
  left: 620px;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  top: 419px;
  white-space: nowrap;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .group-115-7 {
  min-width: 654px;
  position: relative;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .navbar-link-text-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  text-align: center;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .sucsa-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
}

.x7-1-lian-xi-wo-men-quan-mei-ti-ping-tai .text {
  letter-spacing: 0;
  text-align: center;
}
