.title1{
    font-size: 40px;
    color: darkblue;
    margin-top: 10%;
}

.blackTitle{
    margin-top: 2%;
    font-size: 20px;
    margin-bottom: 2%;
}

.Q\&A{
    margin-left: 20%;
    max-width: 60%;
    font-size: 20px;
}

.Q{
    font-weight: bold;
}

.A{
    margin-bottom: 2%;
}

.whiteTitle{
    background-color: #1D2088;
    width: 20%;
    font-weight: bold;
    margin-left: 40%;
    background-position: center;
    color: white;
}
