/* screen - 7-2-lian-xi-wo-men-hui-yuan-lian-xi */

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 1920px;
  overflow: hidden;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .x100 {
  background-color: var(--white);
  height: 100px;
  min-width: 1920px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-132 {
  align-items: center;
  display: flex;
  gap: 239px;
  left: 176px;
  min-width: 1554px;
  position: relative;
  top: 21px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .x20230215020424-1 {
  height: 59px;
  object-fit: cover;
  width: 223px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar {
  align-items: flex-end;
  display: flex;
  gap: 102px;
  height: 27px;
  margin-top: 0.13px;
  min-width: 1106px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text-1 {
  align-self: flex-start;
  min-width: 40px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text-2 {
  min-width: 40px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text-4 {
  min-width: 100px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text-5 {
  min-width: 60px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text-6 {
  cursor: pointer;
  min-width: 80px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame-99 {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: -2.00px;
  margin-right: -2.00px;
  padding: 0px 360px;
  position: relative;
  width: 1924px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group {
  height: 77px;
  min-width: 287px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .overlap-group {
  align-items: flex-end;
  background-color: var(--jacksons-purple);
  padding: 14px 0;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 285px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--jacksons-purple);
  padding: 12px 0;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-9 {
  color: var(--jacksons-purple);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 48px;
  margin-left: -3px;
  width: 285px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .overlap-group3 {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  justify-content: flex-end;
  padding: 15px 0;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-11 {
  height: 43px;
  width: 285px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame-105 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 1078px;
  padding: 0px 360px;
  position: relative;
  width: 1920px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame-11 {
  align-items: center;
  display: flex;
  gap: 288px;
  height: 255px;
  position: relative;
  width: 1195px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-115-1 {
  height: 246.31px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-1 {
  left: 46px;
  position: absolute;
  top: 0;
  width: 560px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .enroll {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 101px;
  width: 650px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .rectangle-30 {
  height: 260px;
  margin-bottom: -2.50px;
  margin-right: -3.00px;
  margin-top: -2.50px;
  min-width: 260px;
  object-fit: cover;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-115 {
  height: 243.14px;
  min-width: 654px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-1-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 98px;
  width: 650px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame-119 {
  align-items: center;
  display: flex;
  gap: 288px;
  height: 148px;
  position: relative;
  width: 1195px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-115-2 {
  height: 143.7px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-17 {
  left: 45px;
  position: absolute;
  top: 0;
  width: 560px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .sydneyunicsagmailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
  width: 650px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .view {
  background-color: var(--jacksons-purple);
  height: 512px;
  min-width: 1920px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame-128 {
  align-items: flex-start;
  display: flex;
  gap: 260px;
  left: 153px;
  position: absolute;
  top: 96px;
  width: fit-content;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-130 {
  height: 249px;
  min-width: 842px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .overlap-group-1 {
  height: 249px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .sucsa {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame-3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--white);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 14px 29px;
  position: absolute;
  top: 195px;
  width: 182px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-18 {
  flex: 1;
  margin-top: -3.00px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .frame {
  height: 244px;
  left: 0;
  position: absolute;
  top: 0;
  width: 244px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-129 {
  height: 234px;
  margin-right: -2.00px;
  min-width: 500.11px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .overlap-group1-1 {
  height: 234px;
  position: relative;
  width: 498px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .sydneyunicsagmailcom-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 49.0px;
  position: absolute;
  top: 0;
  width: 400px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-131 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 65px;
  justify-content: center;
  left: 0;
  min-width: 498px;
  position: absolute;
  top: 169px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-131-item {
  height: 65px;
  object-fit: cover;
  width: 63px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .copyright-2023-by {
  left: 620px;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  top: 419px;
  white-space: nowrap;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .group-115-3 {
  min-width: 654px;
  position: relative;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .navbar-link-text-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  text-align: center;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .overlap {
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  min-width: 285px;
}

.x7-2-lian-xi-wo-men-hui-yuan-lian-xi .text-2 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
