/* screen - 7-3-lian-xi-wo-men-shang-wu-he-zuo */

.x7-3-lian-xi-wo-men-shang-wu-he-zuo {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1457px;
  width: 1924px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .x100 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 239px;
  height: 100px;
  min-width: 1920px;
  padding: 20.1px 176px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .x20230215020424-1 {
  align-self: flex-end;
  height: 59px;
  object-fit: cover;
  width: 223px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar {
  align-items: flex-end;
  display: flex;
  gap: 102px;
  height: 27px;
  margin-top: 1.0px;
  min-width: 1106px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text-1 {
  align-self: flex-start;
  min-width: 40px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text-2 {
  min-width: 40px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text-4 {
  min-width: 100px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text-5 {
  min-width: 60px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text-6 {
  cursor: pointer;
  min-width: 80px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .frame-99 {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
  padding: 0px 360px;
  position: relative;
  width: 1924px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group {
  height: 77px;
  min-width: 287px;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .overlap-group {
  align-items: flex-end;
  background-color: var(--jacksons-purple);
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  min-width: 285px;
  padding: 14px 0;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text {
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 285px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid;
  border-color: var(--jacksons-purple);
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  min-width: 285px;
  padding: 12px 0;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-10 {
  color: var(--jacksons-purple);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 48px;
  line-height: normal;
  margin-left: -3px;
  width: 285px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .overlap-group3 {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  border-radius: 38.5px;
  display: flex;
  height: 77px;
  justify-content: flex-end;
  min-width: 285px;
  padding: 15px 0;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-11 {
  height: 43px;
  line-height: normal;
  width: 285px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .frame-116 {
  align-items: center;
  display: flex;
  gap: 288px;
  height: 255px;
  margin-right: 1.0px;
  margin-top: 100px;
  position: relative;
  width: 1195px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group-115 {
  height: 246.31px;
  min-width: 654px;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-12 {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 46px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 560px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-13 {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 0;
  line-height: 35.4px;
  position: absolute;
  top: 101px;
  width: 650px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .rectangle-30 {
  height: 260px;
  margin-bottom: -2.50px;
  margin-right: -3.00px;
  margin-top: -2.50px;
  min-width: 260px;
  object-fit: cover;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .frame-119 {
  align-items: center;
  display: flex;
  gap: 288px;
  height: 163px;
  margin-top: 50px;
  position: relative;
  width: 1195px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group-115-1 {
  height: 146.98px;
  min-width: 654px;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-14 {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 45px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 560px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .sucsabdgmailcom {
  color: var(--black);
  font-family: var(--font-family-microsoft_yahei-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  text-align: center;
  top: 104px;
  width: 650px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .view {
  align-items: flex-start;
  background-color: var(--jacksons-purple);
  display: flex;
  flex-direction: column;
  gap: 74px;
  height: 512px;
  margin-top: 100px;
  padding: 58px 153px;
  width: 1920px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .frame-128 {
  align-items: flex-start;
  display: flex;
  gap: 260px;
  margin-top: 38px;
  position: relative;
  width: fit-content;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group-130 {
  height: 249px;
  min-width: 842px;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .overlap-group-1 {
  height: 249px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .sucsa {
  left: 0;
  letter-spacing: 0;
  line-height: 35.4px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .frame-3 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--white);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 14px 29px;
  position: absolute;
  top: 195px;
  width: 182px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-15 {
  flex: 1;
  line-height: normal;
  margin-top: -3.00px;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .frame {
  height: 244px;
  left: 0;
  position: absolute;
  top: 0;
  width: 244px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group-129 {
  height: 234px;
  margin-right: -2.00px;
  min-width: 500.11px;
  position: relative;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .overlap-group1 {
  height: 234px;
  position: relative;
  width: 498px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .sydneyunicsagmailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 49.0px;
  position: absolute;
  top: 0;
  width: 400px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group-131 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 65px;
  justify-content: center;
  left: 0;
  min-width: 498px;
  position: absolute;
  top: 169px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .group-131-item {
  height: 65px;
  object-fit: cover;
  width: 63px;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .copyright-2023-by {
  align-self: center;
  letter-spacing: 0;
  line-height: 35.4px;
  min-width: 680px;
  white-space: nowrap;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .navbar-link-text-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  text-align: center;
}

.x7-3-lian-xi-wo-men-shang-wu-he-zuo .text-1 {
  letter-spacing: 0;
  text-align: center;
}
